.App {
  text-align: center;
}
.Board {
  display: grid;
  grid-template-rows: repeat(3, 300px);
  grid-template-columns: repeat(3, 300px);
}

.BigSquare:nth-child(even) {
  display: grid;
  grid-template-rows: repeat(3, 100px);
  grid-template-columns: repeat(3, 100px);
  background: #ffffff;
  outline: 4px solid black;
}
.BigSquare:nth-child(odd) {
  display: grid;
  grid-template-rows: repeat(3, 100px);
  grid-template-columns: repeat(3, 100px);
  background: #eeeeee;
  outline: 4px solid black;
}
.Square {
  outline: 1px solid black;
}

.Square.Clashing {
  background: red;
}
